{{ 'receiveOffersRequestMail.configurationCode'|trans }}: {{ dto.configurationCode }}

{{ 'receiveOffersRequestMail.emailAddress'|trans }}: {{ dto.customerEmailAddress }}

{{ 'receiveOffersRequestMail.name'|trans }}: {{ dto.name }}

{{ 'receiveOffersRequestMail.company'|trans }}: {{ dto.company }}

{{ 'receiveOffersRequestMail.phoneNumber'|trans }}: {{ dto.phoneNumber }}

{{ 'receiveOffersRequestMail.zip'|trans }}: {{ dto.zip }}

{{ 'receiveOffersRequestMail.city'|trans }}: {{ dto.city }}

{{ 'receiveOffersRequestMail.street'|trans }}: {{ dto.street }}

{{ 'receiveOffersRequestMail.country'|trans }}: {{ dto.country }}

{{ 'receiveOffersRequestMail.note'|trans }}: {{ dto.comment }}

{{ dto.shareUrl }}

{%  if (dto.productionZipUrl) %}
{{ 'receiveOffersRequestMail.productionData'|trans }}: {{ dto.productionZipUrl }}
{%  endif %}
