<p>
    <strong>{{ 'receiveOffersRequestMail.configurationCode'|trans }}:</strong> {{ dto.configurationCode }}
</p>

<p>
    <strong>{{ 'receiveOffersRequestMail.emailAddress'|trans }}:</strong> {{ dto.customerEmailAddress }}
</p>

<p>
    <strong>{{ 'receiveOffersRequestMail.name'|trans }}:</strong> {{ dto.name }}
</p>

<p>
    <strong>{{ 'receiveOffersRequestMail.company'|trans }}:</strong> {{ dto.company }}
</p>

<p>
    <strong>{{ 'receiveOffersRequestMail.phoneNumber'|trans }}:</strong> {{ dto.phoneNumber }}
</p>

<p>
    <strong>{{ 'receiveOffersRequestMail.zip'|trans }}:</strong> {{ dto.zip }}
</p>

<p>
    <strong>{{ 'receiveOffersRequestMail.city'|trans }}:</strong> {{ dto.city }}
</p>

<p>
    <strong>{{ 'receiveOffersRequestMail.street'|trans }}:</strong> {{ dto.street }}
</p>

<p>
    <strong>{{ 'receiveOffersRequestMail.country'|trans }}:</strong> {{ dto.country }}
</p>

<p>
    <strong>{{ 'receiveOffersRequestMail.note'|trans }}:</strong> {{ dto.comment }}
</p>

<p>
    <a href="{{ dto.shareUrl }}">{{ dto.shareUrl }}</a>
</p>

{%  if (dto.productionZipUrl) %}
<p>
    <strong>{{ 'receiveOffersRequestMail.productionData'|trans }}:</strong> {{ dto.productionZipUrl }}
</p>
{%  endif %}
