<p>
    {{'offerRequestCustomerEmail.greeting'|trans({'%{name}': dto.name})  }}
</p>

<p>
    {{ 'offerRequestCustomerEmail.text1'|trans }}
</p>

<p>
    {{ 'offerRequestCustomerEmail.text2'|trans({'%{code}': dto.configurationCode}) }}
</p>

<p>
    {{ 'offerRequestCustomerEmail.text3'|trans({'%{shareUrl}': ""}) }}
</p>

<p>
    <a href="{{ dto.shareUrl }}">{{ dto.shareUrl }}</a>
</p>

<p>
    {{ 'offerRequestCustomerEmail.text4'|trans }}
</p>

<p>
    {{ 'offerRequestCustomerEmail.text5'|trans }}
</p>

<p>
    {{ 'offerRequestCustomerEmail.regards'|trans }}<br>
    {{ 'offerRequestCustomerEmail.signature'|trans }}
</p>



