{{ 'offerRequestCustomerEmail.greeting'|trans({'%{name}': dto.name}) }}

{{ 'offerRequestCustomerEmail.text1'|trans }}

{{ 'offerRequestCustomerEmail.text2'|trans({'%{code}': dto.configurationCode}) }}

{{ 'offerRequestCustomerEmail.text3'|trans({'%{shareUrl}': dto.shareUrl}) }}

{{ 'offerRequestCustomerEmail.text4'|trans }}

{{ 'offerRequestCustomerEmail.text5'|trans }}

{{ 'offerRequestCustomerEmail.regards'|trans }}

{{ 'offerRequestCustomerEmail.signature'|trans }}

