<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Configuration Template"/>
    <title>{{ cover.title }}</title>
    {% if documentInfo.theme.font is not defined or documentInfo.theme.font is empty %}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    {% endif %}
    <style>
        {% include '@RedhotmagmaConfiguratorApi/configuration/style.css' %}

        {% if documentInfo.theme.font is defined and documentInfo.theme.font is not empty %}
        @font-face {
            font-family: CustomClientFont;
            src: url("{{ mediaBasePath }}{{ documentInfo.theme.font }}");
        }

        html body {
            font-family: CustomClientFont, Roboto, Arial, sans-serif;
        }
        {% else %}
        html body {
          font-family: Roboto, Arial, sans-serif;
        }
        {% endif %}

        {% if documentInfo.theme.highlightColor is not empty %}
        html body header {
            border-color: {{ documentInfo.theme.highlightColor }};
        }
        {% endif %}

        {% if documentInfo.logoPath is defined and documentInfo.logoPath is not empty %}
        {% set headerLogo = base64_encode(documentInfo.logoPath) %}
        .header-contact {
            background-image: url({{headerLogo}});
        }
        {% endif %}

    </style>
</head>

<body>
<header>
    <div class="header-contact">
    {{ documentInfo.currentDate }}<br>
    {{ documentInfo.pdfHeader|raw }}
    </div>
</header>

<footer>
    <table>
        <tr>
            <td class="footer-address">{{ documentInfo.pdfFooter|raw }}</td>
            <td class="page-count"><span class="page-number">{{ 'page'|trans }}</span></td>
        </tr>
    </table>
</footer>

<article id="cover">
    <div class="heading-wrapper">
        <h3>{{ cover.title }}</h3>
    </div>
    <div class="image-wrapper">
        {% if cover.imagePath != '' %}
            <img src="{{ base64_encode(cover.imagePath) }}"/>
        {% endif %}
    </div>
    {% if cover.variantAmount > 0 or editedDesignAreas|length > 0 %}
    <div id="details">
        <table>
            <tbody>
            {% if cover.variantAmount > 0 %}
                <tr>
                    <td class="left">{{ cover.variantAmount }}</td>
                    <td class="right">
                        <p>
                        <span class="highlight">
                            {% if cover.variantAmount > 1 %}
                                {{ 'articleVariants'|trans }}:
                            {% else %}
                                {{ 'articleVariant'|trans }}:
                            {% endif %}
                        </span>
                            {{ cover.itemSummary }}
                        </p>
                    </td>
                </tr>
            {% endif %}
            {% if editedDesignAreas|length > 0 %}
                <tr>
                    <td class="left">{{ editedDesignAreas|length }}</td>
                    <td class="right">
                        <p>
                        <span class="highlight">
                            {% if editedDesignAreas|length > 1 %}
                                {{ 'designAreas'|trans }}:
                            {% else %}
                                {{ 'designArea'|trans }}:
                            {% endif %}
                        </span>
                            {% for designArea in editedDesignAreas %}
                                {{ designArea.title ~
                                ( designArea.designProductionMethodTitle != ''
                                ? ', ' ~ designArea.designProductionMethodTitle : '' ) ~
                                (( designArea.colorAmount > 0 and designArea.designProductionMethodMaxColorAmount > 0)
                                ? ', ' ~ designArea.colorAmount ~ '-' ~ 'colored'|trans) ~
                                ((loop.last) ? '' : '; ') }}
                            {% endfor %}
                        </p>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    {% endif %}

    {% set optionItemsColCount = componentInfos|length <= 8 ? 2 : 3 %}
    {% set isOptionListOnCover = componentInfos is not empty and cover.variantAmount == 0 and editedDesignAreas|length == 0 %}
    {% if  isOptionListOnCover %}
        <table class="option-info">
            {% set componentInfosLenght1stPage = componentInfos|length <= 12 ? componentInfos|length : 12 %}
            {% for i in 1..(componentInfosLenght1stPage/optionItemsColCount)|round(0,'ceil') %}
                <tr >
                    {% for optionItem in componentInfos|slice((i-1)*optionItemsColCount, optionItemsColCount)%}
                        <td class="title">{{ optionItem.componentTitle }} </td>
                        {% if optionItem.component.selectedoptions and optionItem.component.selectedoptions|first.hasTextinput %}
                            <td>
                                {% for selectedOption in optionItem.component.selectedoptions%}
                                    <div>{{ selectedOption.title ~ ': '}}{{ selectedOption.inputText }}</div>
                                {% endfor %}
                            </td>
                        {% else %}
                            <td class="value">{{ optionItem.optionTitle }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        {% set componentInfos = componentInfos|slice(12, componentInfos|length)|default([]) %}
    {% endif %}

    {% set isCommentOnCover = cover.comment and componentInfos is empty and cover.comment|length < 200 %}
    {% if  isCommentOnCover %}
        <div id="comment">
            <h4>{{ 'comment'|trans }}</h4>
            <p>{{ cover.comment }}</p>
        </div>
    {% endif %}

    <div id="summary">
        <table id="summary-layout">
            <tr>
                <td id="qr-code">
                    {% if documentInfo.documentType != 'widget' and cover.configurationUrl != '' %}
                        <img src="{{ base64_encode(qr_code_data_uri(cover.configurationUrl)) }}"/>
                    {% endif %}
                </td>
                <td id="price-list">
                    {% if documentInfo.channelSettings.hidePrices|default(false) == false and calculationResult is not empty %}
                        <h4>{{ 'pricingDetails'|trans }}</h4>
                        <table>
                            <tbody>
                            {% for position in calculationResult.positions|default([]) %}
                                {% if position.selected|default(false) == true %}
                                    <tr>
                                        <td class="price-title">
                                            {% set priceListStart = loop.first ? cover.selectedItemAmount ~ 'multiply'|trans ~ ' ' : '+' %}
                                            {% set calculationTypeBridge = {'production_cost': 'productionCost', 'setup_cost': 'setupCost', 'gallery_image': 'galleryImage'} %}
                                            {% set positionTitle = (position.title != '') ?  position.title : attribute(calculationTypeBridge, position.calculationTypeIdentifier)|trans %}
                                            {{ priceListStart ~ ' ' ~ (positionTitle|length > 40 ? positionTitle|slice(0, 37) ~ '...' : positionTitle) }}
                                        </td>
                                        <td class="price-value"> {{ documentInfo.displayNetPrices ? position.priceNetFormatted : position.priceFormatted }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td id="code">
                    {% if documentInfo.documentType != 'widget' %}
                    <h5>{{ 'configurationCode'|trans }}:</h5>
                    {% if cover.configurationCodeDynamicFontSize %}
                    <h1 style="font-size: {{ cover.configurationCodeDynamicFontSize }}pt;">
                        {% else %}
                        <h1>
                            {% endif %}
                            {{ cover.configurationCode|default('') }}
                        </h1>
                        {% endif %}
                    </h1>
                </td>
                <td id="price-total">
                    {% if documentInfo.channelSettings.hidePrices|default(false) == false and calculationResult is not empty %}
                    {% if cover.configurationCode|length > 14 %}
                    <h2 style="font-size: 20pt">
                        {% else %}
                        <h2>
                            {% endif %}
                            {{ documentInfo.displayNetPrices ? calculationResult.netTotalFormatted|default('') : calculationResult.totalFormatted|default('') }}
                        </h2>
                        <p id="net-price-hint">{{ documentInfo.displayNetPrices ? 'pricingHintNet'|trans : 'pricingHintGross'|trans }}</p>
                        {% endif %}
                    </h2>
                </td>
            </tr>
        </table>
        {% if documentInfo.documentType != 'widget' or cover.configurationUrl != '' %}
            <a id="share-url" href="{{ cover.configurationUrl }}">
                {% if cover.configurationUrl|length > 100 %}
                    <p>
                        {{ cover.configurationUrl|slice(0, 100) }}
                    </p>
                    <p>
                        {{ cover.configurationUrl|slice(100, cover.configurationUrl|length) }}
                    </p>
                {% else %}
                    {{ cover.configurationUrl  }}
                {% endif %}
            </a>
        {% endif %}
    </div>
</article>

{% set isCommentOnCover2nd = not isCommentOnCover and cover.comment %}
{% if componentInfos is not empty or isCommentOnCover2nd %}
    <article id="cover-2nd" >
     {% if not isOptionListOnCover %}
         <div class="heading-wrapper">
            <h3 class="break-before">{{ 'selectedOptions'|trans }}</h3>
        </div>
     {% else %}
         <div class="spacer break-before"></div>
     {% endif %}
     {% if componentInfos is not empty %}
         <table class="option-info">
             {% set componentInfosLenght1stPage = componentInfos|length <= 12 ? componentInfos|length : 12 %}
             {% for i in 1..(componentInfosLenght1stPage/optionItemsColCount)|round(0,'ceil') %}
                 <tr >
                     {% for optionItem in componentInfos|slice((i-1)*optionItemsColCount, optionItemsColCount)%}
                         {% if optionItem.component.selectedoptions and optionItem.component.selectedoptions|first.hasTextinput %}
                             <td>
                                 {% for selectedOption in optionItem.component.selectedoptions%}
                                     <div>{{ selectedOption.title ~ ': '}}{{ selectedOption.inputText }}</div>
                                 {% endfor %}
                             </td>
                         {% else %}
                             <td class="value">{{ optionItem.optionTitle }}</td>
                         {% endif %}
                     {% endfor %}
                 </tr>
             {% endfor %}
         </table>
     {% endif %}
     {% if isCommentOnCover2nd %}
        <div id="comment">
            <h4>{{ 'comment'|trans }}</h4>
            <p>{{ cover.comment }}</p>
        </div>
     {% endif %}
    </article>
{% endif %}

{% if documentInfo.documentType != 'widget' %}
    {% if preview.images is not empty and preview.isVisible == true %}
        <article class="preview">
            <div class="heading-wrapper"><h3 class="break-before">{{ preview.title }}</h3></div>
            {% for image in preview.images %}
                {% if (loop.index != 1) and (loop.index % 2 == 1) %}
                    <div class="spacer"></div>
                {% endif %}
                <div class="image-wrapper"><img style="max-width:200mm;" src="{{ base64_encode(image) }}"/></div>
            {% endfor %}
        </article>
    {% endif %}

    {% for designArea in editedDesignAreas %}
        <article class="instruction">
            <div class="heading-wrapper">
                <h3 class="break-before">{{ designArea.title }}</h3>
                <table class="subheading">
                    <tr>
                        <td id="selected-production-method">
                            {{ designArea.designProductionMethodTitle }}
                            {% if designArea.colorAmount > 0 and designArea.designProductionMethodMaxColorAmount > 0 %}
                                {{ designArea.colorAmount }}-{{ 'colored'|trans }}
                            {% endif %}
                        </td>
                        <td id="selected-prints">
                            {% if designArea.types.text is defined %}
                                <span class="highlight">{{ designArea.types.text.count|default(1) }}</span>
                                {% if designArea.types.text.count > 1 %}{{ 'texts'|trans }}{% else %}{{ 'text'|trans }}{% endif %}
                            {% endif %}
                            {% if designArea.types.image is defined %}
                                <span class="highlight">{{ designArea.types.image.count|default(1) }}</span>
                                {% if designArea.types.image.count > 1 %}{{ 'images'|trans }}{% else %}{{ 'image'|trans }}{% endif %}
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
            {% for objectKey, object in designArea.editedDesignAreaElements %}
            {% if loop.first %}
            <table class="design-areas">
            {% endif %}
            {% if not loop.first and (loop.index % 2 == 1) %}
            <div class="spacer break-before"></div>
            <table class="design-areas">
            {% endif %}
                <tr>
                    <td class="left">
                    {% if attribute(designArea.imagesBase64, objectKey) is defined %}
                    <img src="data:image/{{ attribute(designArea.imagesBase64, objectKey).type }};base64,{{ attribute(designArea.imagesBase64, objectKey).data }}"
                    {% else %}
                    <img src="{{ attribute(designArea.images, objectKey)|default('') }}"
                            {% endif %}
                         alt="{{ object.type }}"
                         class="{{ (designArea.width / designArea.height) > 0.87 ? 'fix-width' : 'fix-height' }} {{ object.hasBackgroundColor is defined and object.hasBackgroundColor ? 'dark-bg' : '' }}"
                    />
                    <br>

                    {{ designArea.width }} {{ 'millimeter'|trans }} x {{ designArea.height }} {{ 'millimeter'|trans }}
                    </td>

                    <td class="right">
                        <h4>{{ object.type|lower|trans }}</h4>

                        {% if object.imageData.preview.url is defined %}
                            <h6 class="file-name">{{ object.imageData.originalFileName }}</h6>
                        {% endif %}
                        {% if object.content is defined %}
                            <h6>{{ object.content|striptags('<br>')|raw }}</h6>
                        {% endif %}

                        {% if attribute(designArea.colors, objectKey) is defined %}
                            <h6 class="used-colors">
                                {{ 'usedColors'|trans }}:<br/>
                                {% for color in attribute(designArea.colors, objectKey)|default([]) %}
                                    {{ color.isCustom == false ? color.colorPalette : color.colorPalette|trans }}: {{ color.color }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </h6>
                        {% endif %}
                        {% if object.style is defined %}
                            {% if object.type == "Text" %}
                                <h6>
                                    {{ 'font'|trans }}:<br/>
                                    {% set localFontFamily = object.style.fontFamily|split(',') %}
                                    {% set localIsCustomFont = false %}
                                    {% if object.fontItem is defined and object.fontItem.customName is defined %}
                                        {% set localFontFamily = object.fontItem.customName|split(',') %}
                                        {% set localIsCustomFont = true %}
                                    {% endif %}
                                    {{ localFontFamily.0|trim('"') ~ ( localIsCustomFont ? ' (' ~ 'customFont'|trans ~ ')' : '' ) }}
                                    {% if object.style.fontWeight is defined and object.style.fontStyle is defined %}
                                        ({{ object.style.fontWeight }}, {{ object.style.fontStyle }})
                                    {% elseif object.style.fontWeight is not defined and object.style.fontStyle is not defined %}
                                        ({{ 'regular'|trans }})
                                    {% else %}
                                        ({{ object.style.fontWeight|default(object.style.fontStyle) }})
                                    {% endif %}
                                    {% if object.style.fontSize is defined %}
                                        {% set localFontSize = object.style.fontSize|trim('px') %}
                                        {% if  localFontSize != object.style.fontSize %}
                                            <br/>{{ localFontSize * 0.75 }} pt
                                        {% else %}
                                            {#  calculating pt is based on 300 dpi, if we have 300 dpi, and 1pt = 1/72 inch, then 300 / 72 = 4.1666 which is 1 pt in px #}
                                            <br/>{{ localFontSize }} px, {{ (localFontSize / 4.166)|round }} pt
                                        {% endif %}
                                    {% endif %}
                                </h6>
                            {% endif %}
                        {% endif %}

                        {% if documentInfo.documentType == 'production' %}
                            <table class="production-info">
                                <tbody>
                                {% if object.metric is defined %}
                                    <tr>
                                        <td class="left">{{ 'width'|trans }} x {{ 'height'|trans }}</td>
                                        <td class="right">
                                            {{ object.metric.width }} {{ 'millimeter'|trans }} {{ 'multiply'|trans }}
                                            {{ object.metric.height }} {{ 'millimeter'|trans }}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if object.rotation is defined %}
                                    <tr>
                                        <td class="left">{{ 'rotation'|trans }}</td>
                                        <td class="right">{{ object.rotation|round }}°</td>
                                    </tr>
                                {% endif %}
                                {% if object.metric is defined %}
                                    <tr>
                                        <td class="left">{{ 'position'|trans }}</td>
                                        <td class="right">{{ object.metric.x }} {{ 'millimeter'|trans }} {{ 'divide'|trans }} {{ object.metric.y }} {{ 'millimeter'|trans }}</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        {% endif %}
                    </td>
                </tr>
            {% if (loop.index % 2 == 0) or (loop.length % 2 == 1 and loop.last) %}
            </table>
            {% endif %}
            {% endfor %}
        </article>
    {% endfor %}
{% endif %}
</body>
</html>
