html {
    margin: 0;
    padding: 0;
}

html body {
    margin: 0;
    padding: 0;
    color: #393939;
    font-size: 10pt;
    font-weight: normal;
    line-height: 1.1;
}

html body p {
    margin: 0;
}

html body div {
    margin: 0;
}

html body a {
    margin: 0;
    padding: 0;
}

html body table td {
    vertical-align: top;
}

html body .break-before {
    page-break-before: always;
}

html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
    margin: 0;
    padding: 0;
    color: #1e1e1e;
    font-weight: normal;
}

html body h1 {
    font-size: 48pt;
    font-weight: bold;
}

html body h2 {
    font-size: 24pt;
    font-weight: bold;
}

html body h3 {
    padding-top: 2.7cm;
    font-size: 24pt;
}

html body h4 {
    font-size: 14pt;
    font-weight: bold;
}

html body h5 {
    font-size: 10pt;
}

html body h6 {
    font-size: 10pt;
}

html body .spacer {
    height: 4cm;
}

html body header {
    position: fixed;
    border-top-style: solid;
    border-top-width: 0.2cm;
    border-color: #ed1c29;
    margin: 0;
    padding: 0.3cm 1.2cm 0 1.2cm;
    height: 2.7cm;
    width: 18.6cm;
    overflow: hidden;
}

html body header .header-contact {
    width: 100%;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 1.3cm;
    min-height: 300px;
    font-size: 10pt;
}

html body header .header-contact {
    text-align: right;
}

html body header .header-contact ol,ul,li {
    list-style-position:inside;
    margin: 0px;
}

html body footer {
    z-index: 999;
    position: fixed;
    bottom: 0.6cm;
    left: 0;
    right: 0;
    height: 30px;
    padding: 0 1.2cm 0 1.2cm;
}

html body footer table {
    width: 100%;
    border-spacing: 0;
    margin: 0;
}

html body footer .footer-address {
    padding: 0;
    text-align: left;
    width: 16.8cm;
}

html body footer .page-count {
    padding: 0;
    text-align: right;
}

.page-number:after {
    content: ' ' counter(page);
}

html body article {
    padding: 0;
}

html body article table {
    border-collapse: separate;
    border-spacing: 0;
}

html body article table td {
    padding: 0;
}

html body article .heading-wrapper {
    margin: 0 0 0.6cm 0;
    padding: 0 1.2cm 0.3cm 1.2cm;
    border-bottom: 1px solid #ccc;
}

html body article div.image-wrapper {
    margin: 0 0 0.6cm 0;
    text-align: center;
}

html body article table.option-info {
    max-height: 200px;
    width: 100%;
    padding: 0 1.2cm;
}

html body article #comment {
    padding: 0.3cm 1.2cm;
}

html body article#cover-2nd #option-list {
    margin-top: 50px;
}

html body article ul#option-list li#option-info {
    padding: 0.1cm 0;
}

html body article table.option-info td {
    margin-right: 0.2cm;
    width: 25%;
    height: 1.5rem;
}

html body article table.option-info .title {
    font-weight: bold;
}

html body article#cover {
    display: block;
    box-sizing: content-box;
    position: relative;
}

html body article#cover .section {
    max-height: calc(100% - 285px);
    overflow: hidden;
}

html body article#cover div.image-wrapper img {
    height: 9.5cm;
}

html body article#cover div#details {
    margin: 0 0 0.6cm 0;
    padding: 0 1.2cm;
}

html body article#cover div#details table td.left {
    font-size: 18pt;
    font-weight: bold;
}

html body article#cover div#details table td.right {
    padding: 0 0 0 0.6cm;
    font-size: 12pt;
}

html body article#cover div#details table td.right .highlight {
    font-size: 18pt;
}

html body article#cover div#details table p {
    height: 2.3cm;
    overflow: hidden;
}

html body div#summary {
    background: #efefef;
    padding: 1.2cm 1.2cm 1.2cm 1.2cm;
    width: 18.6cm;
    position: absolute;
    bottom: 0;
}

html body div#summary h1,
html body div#summary h2,
html body div#summary h3,
html body div#summary h4,
html body div#summary h5 {
    line-height: 0.9;
}

html body div#summary td {
    padding-bottom: 0.3cm;
    border-spacing: 0;
    margin: 0;
}

html body div#summary td#qr-code img {
    height: 2.0cm;
    overflow: hidden;
}

html body div#summary a#share-url {
    display: block;
    overflow: hidden;
    color: #393939;
    text-decoration: none;
    margin-top: -0.5cm;
}


html body div#summary td#price-total {
    text-align: right;
    vertical-align: bottom;
}

html body div#summary > #summary-layout.table {
    width: 100%;
    margin: 0.1cm 0;
    table-layout: fixed;
}

html body div#summary #summary-layout #qr-code {
    width: 9.3cm
}

html body div#summary #summary-layout #price-list {
    width: 9.3cm
}

html body div#summary #summary-layout #price-list table {
    border-spacing: 0;
    min-width: 50%;
    max-height: 4.0cm;
    overflow: hidden;
}

html body div#summary #summary-layout #price-list td {
    line-height: 1;
    padding-bottom: 0;
}

html body div#summary #summary-layout #price-list table .price-title {
    width: 7.2cm;
    text-align: left;
}

html body div#summary #summary-layout #price-list table .price-value {
    text-align: right;
    width: 2.2cm;
}

html body div#summary #net-price-hint {
    font-size: 8pt;
}

html body article.preview img {
    max-width: 18.6cm;
    min-height: 10cm;
}

html body article.instruction h4,
html body article.instruction h6 {
    margin: 0 0 0.6cm 0;
    line-height: 1.2;
}

html body article.instruction .heading-wrapper h3 {
    margin: 0 0 0.1cm 0;
    line-height: 1;
}

html body article.instruction .heading-wrapper h4,
html body article.instruction .heading-wrapper h5 {
    margin: 0;
    line-height: 1;
}

html body article.instruction .heading-wrapper h4 p {
    display: inline-block;
    margin-left: 0.6cm;
}

html body article.instruction table.subheading  {
    width: 100%;
    border-collapse: collapse;
}

html body article.instruction .subheading #selected-production-method {
    padding: 0;
    vertical-align: bottom;
    text-align: left;
}

html body article.instruction .subheading #selected-prints {
    padding: 0;
    vertical-align: bottom;
    text-align: right;
}

html body article.instruction .subheading .highlight {
    padding-left: 0.3cm;
    font-size: 2.0rem;
    font-weight: bold;
    line-height: 0.5;
}

html body article.instruction table.design-areas {
    padding: 0 1.2cm;
}

html body article.instruction table.design-areas td.left {
    width: 8.7cm;
    padding: 0 0.6cm 0.6cm 0;
    text-align: center;
}

html body article.instruction table.design-areas td.right {
    width: 8.7cm;
    padding: 0 0 0.6cm 0.6cm;
    text-align: left;
}

html body article.instruction table.design-areas td.right .file-name,
html body article.instruction table.design-areas td.right .used-colors {
    max-width: 55%;
    word-break: break-all;
    overflow-wrap: break-word;
}

html body article.instruction table.design-areas td.left img {
    border: 1px solid #979797;
}

html body article.instruction table.design-areas td.left img.fix-width {
    width: 8.7cm;
}

html body article.instruction table.design-areas td.left img.fix-height {
    height: 10cm;
}

html body article.instruction table.design-areas td.left img.dark-bg {
    background: #C4C4C4;
}

html body article.instruction table.production-info td.left {
    width: 50%;
    padding: 0;
    text-align: left;
}

html body article.instruction table.production-info td.right {
    width: 50%;
    padding: 0 0 0 0.3cm;
    text-align: left;
}
